<!-- Top Navigation Bar -->
<nav class="top-nav">
    <div class="nav-links">
        <a style="display: block;" routerLink="./home">HOME</a>
        <a style="display: block;" routerLink="./aboutus">SOBRE NOSOTROS</a>
        <router-outlet />
    </div>
    
    <div class="logo">EL MARATI</div>
    
    <div class="contact-icons">
        <div class="nav-links">
            <a style="display: block;" routerLink="./shop">ORDENAR</a>
            <a style="display: block;" routerLink="./contactus">CONTACTO</a>
        </div>
    </div>
</nav>
<!-- Top Navigation Bar -->
<nav class="top-nav">
    <div class="nav-links">
        <div class="phone">
            <i class="fas fa-phone"></i>
            <span>999 999 999</span>
        </div>
    </div>
    
    <div class="logo"> </div>

    
    <div class="contact-icons">
        <div class="icons">
            <i class="bi bi-person"></i>
            <i class="bi bi-cart3"></i>
            <i class="bi bi-search"></i>
        </div>
    </div>
</nav>

<!-- Main Navigation Bar -->
<nav class="main-nav">
    <div class="main-nav-links">
        <a routerLink="./category">ENTRADAS</a>
        <a routerLink="./category">CEVICHES</a>
        <a routerLink="./category">ARROCES</a>
        <a routerLink="./category">SUDADOS</a>
        <a routerLink="./category">PESCADOS</a>
        <a routerLink="./category">CHICHARRONES</a>
        <a routerLink="./category">BEBIDAS</a>
    </div>
</nav>
<router-outlet />