<!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="img/hero/mejor-ceviche.jpg">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>El Mejor Ceviche de Pescado</h2>
                                <p>"Frescura, sabor y tradición en cada bocado. ¡Descubre el auténtico ceviche que todos aman!"</p>
                                <a href="#" class="primary-btn">¡Ordena ahora!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/hero/oferta-sudado-pescado.jpg">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>Oferta de la Semana - Sudado de Pescado</h2>
                                <p>"Un clásico irresistible con el mejor sazón. Solo por esta semana, ¡no te lo pierdas!"</p>
                                <a href="#" class="primary-btn">¡Aprovecha la oferta!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <div class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="category/1"><img src="img/categories/entradas.png" alt="Entradas" class="category-icon">
                            <h5>ENTRADAS</h5></a>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="category/2"><img src="img/categories/pescados.png" alt="Pescados" class="category-icon">
                            <h5>TIRADITOS</h5></a>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="category/3"><img src="img/categories/ceviches.png" alt="Ceviches" class="category-icon">
                            <h5>CEVICHES</h5></a>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="category/4"><img src="img/categories/arroz.png" alt="Arroces" class="category-icon">
                            <h5>ARROCES</h5></a>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="category/5"><img src="img/categories/sudados.png" alt="Sudados" class="category-icon">
                            <h5>SOPAS</h5></a>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                            <a href="category/6"><img src="img/categories/bebidas.png" alt="Bebidas" class="category-icon">
                            <h5>BEBIDAS</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../img/shop/causa-de-pulpa-de-cangrejo.jpg">
                            <div class="product__label">
                                <span>Entradas</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Causa de Pulpa de Cangrejo</a></h6>
                            <div class="product__item__price">S/. 22.00</div>
                            <div class="cart_add">
                                <a href="#">Agregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/causa-langostinos.jpg">
                            <div class="product__label">
                                <span>Entradas</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Causa de Langostinos</a></h6>
                            <div class="product__item__price">S/. 22.00</div>
                            <div class="cart_add">
                                <a href="#">Agregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/causa-polvo-olivo.jpg">
                            <div class="product__label">
                                <span>Entradas</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Causa de Pulpo al Olivo</a></h6>
                            <div class="product__item__price">S/. 25.00</div>
                            <div class="cart_add">
                                <a href="#">AAgregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/leche-de-tigre-de-campeones.jpg">
                            <div class="product__label">
                                <span>Entradas</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Leche de Tigre</a></h6>
                            <div class="product__item__price">S/. 12.00</div>
                            <div class="cart_add">
                                <a href="#">Agregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/leche-pantera.jpg">
                            <div class="product__label">
                                <span>Entradas</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Leche de Pantera</a></h6>
                            <div class="product__item__price">S/. 20.00</div>
                            <div class="cart_add">
                                <a href="#">Agregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/pulpo-al-olivo.jpeg">
                            <div class="product__label">
                                <span>Entradas</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Pulpo al Olivo</a></h6>
                            <div class="product__item__price">S/. 45.00</div>
                            <div class="cart_add">
                                <a href="#">Agregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/conchitas-a-la-parmesana.jpg">
                            <div class="product__label">
                                <span>Entradas</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Conchitas a la Parmesana</a></h6>
                            <div class="product__item__price">S/. 40.00</div>
                            <div class="cart_add">
                                <a href="#">Agregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/shop/unas-de-cangrejo.png">
                            <div class="product__label">
                                <span>Entradas</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Uñas de Cangrejo al Limón</a></h6>
                            <div class="product__item__price">S/. 45.00</div>
                            <div class="cart_add">
                                <a href="#">Agregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->