<section class="container my-5">
    <div class="row align-items-center">
      <!-- Columna del texto -->
      <div class="col-md-4">
        <h2 class="text-center">¿Quiénes somos?</h2>
        <p class="text-center">
          El Marati es un restaurante y cevichería que nace con el fin de deleitar el paladar de todos nuestros clientes. 
          Aquí todo se hace con pasión y voluntad, logrando involucrar a quienes nos visitan en un ambiente de confianza, 
          rodeados de emociones y sabores directamente del mar a ti.
        </p>
        <p class="text-center">
          Nos caracterizan nuestros platos frescos y sabor inconfundible.
        </p>
        <p class="text-center">
          En el Marati se respeta la veda. Todos los pescados y mariscos son de acuerdo a la estación.
        </p>
      </div>
  
      <!-- Columna del video -->
      <div class="col-md-8">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uJ3dGyBDkXk?si=JlaadHNBGMR4ioZ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  