
<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Acerca</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="./index.html">Inicio</a>
                        <span>Acerca</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__video set-bg" data-setbg="img/about_bg.png">
                        <!-- Columna del video -->
                        <iframe width="1140" height="500" src="https://www.youtube.com/embed/uJ3dGyBDkXk?si=JlaadHNBGMR4ioZ4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>Acerca de El Marati</span>
                            <h2>Pescados y mariscos frescos del mar a tu mesa!</h2>
                        </div>
                        <p>El Marati es una cevichería orgullosamente chorrillana que, desde sus inicios, tuvo la misión de ofrecer una experiencia culinaria de excelencia.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about__bar">
                        <div class="about__bar__item">
                            <p>Frescura de productos</p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="95"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>Presentación de platillos</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>Calidad de recetas</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Testimonios</span>
                        <h2>Nuestros clientes dicen</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-1.jpg" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Andrea Cervantes</h5>
                                    <span>Lima</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <p>Quedé fascinada con la propuesta de Marati! Hace mucho que no comía comida marina tan fresca y ni qué decir de lo buena de la sazón. Se ha vuelto mi nuevo point favorito.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-3.jpg" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Emily Ratajkowski</h5>
                                    <span>Lima</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <p>First time in Peru and thanks to el Marati I've fell in love with peruvian seafood! People always talk about peruvian cousine and el Marati exceeded my expectations.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-4.jpg" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Carlos Vilchez</h5> 
                                    <span>Lima</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star-half-alt"></i></span>
                            </div>
                            <p>Un muy buen lugar para ir con la familia. El mejor ceviche de todo Chorrillos.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-2.jpg" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Renata Perez</h5>
                                    <span>Lima</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star-half-alt"></i></span>
                                <span><i class="far fa-star"></i></span> <!-- estrella vacía -->
                            </div>
                            <p>No soy muy fanática de la comida marina, pero debo admitir que el Marati me hizo darle una segunda oportunidad a este tipo de comida. El local es acogedor y si me preguntan si ¿volvería? Yo diría que sí!</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-5.png" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>César Acuña</h5>
                                    <span>Trujillo</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <p>Si quieres comer pescados y mariscos frescos, recién pescados del mar, el Marati es una gran opción. Destaco mucho la buena sazón y la atención de calidad.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-6.png" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>Peter Castle</h5>
                                    <span>Chota</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <p>No sé si el pescado estaba vivo o muerto, pero sí que fue el mejor ceviche que he probado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="section-title">
                        <span>Nuestro Equipo</span>
                        <h2>Maestros Culinarios</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="team__btn">
                        <a href="#" class="primary-btn">Únete a nuestro equipo</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="team__item set-bg" data-setbg="img/team/Gordon.jpeg">
                        <div class="team__item__text">
                            <h6>Gordon Ramsay</h6>
                            <span>Jefe de Cocina</span>
                            <div class="team__item__social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/gordongram/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/@gordonramsay"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="team__item set-bg" data-setbg="img/team/Mitsuharu_Tsumura.jpg">
                        <div class="team__item__text">
                            <h6>Mitsuharu Tsumura</h6>
                            <span>Maestro Nikkei</span>
                            <div class="team__item__social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/mitsuharu_maido/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="team__item set-bg" data-setbg="img/team/Virgilio.jpeg">
                        <div class="team__item__text">
                            <h6>Virgilio Martinez</h6>
                            <span>Maestro Creativo & Líder Investigación</span>
                            <div class="team__item__social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/virgiliocentral/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="team__item set-bg" data-setbg="img/team/Giacomo.jpeg">
                        <div class="team__item__text">
                            <h6>Giacomo Bocchio</h6>
                            <span>Control de Calidad</span>
                            <div class="team__item__social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/giacomo_bocchio/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/@GiacomoBocchioChef"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->